body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

/* HEADER */
.header {
    background: #0f3d2e;
    color: white;
    text-align: center;
    padding: 30px 0;
}

.nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

/* HERO */
.hero {
    background: #0f3d2e;
    color: white;
    text-align: center;
    padding-bottom: 40px;
}

/* CATEGORIES */
.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.card {
    position: relative;
    width: 250px;
}

.card img {
    width: 100%;
    border-radius: 20px;
}

.card span {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-weight: bold;
}

/* LIFESTYLE */
.lifestyle {
    display: flex;
    gap: 20px;
    padding: 40px;
}

.lifestyle img {
    width: 100%;
    border-radius: 20px;
}

.center-banner {
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
}

/* APP SECTION */
.app {
    background: #eaeaea;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.app-left img {
    width: 120px;
}

.app-right {
    margin-left: 40px;
}

/* FOOTER */
.footer {
    background: #0f3d2e;
    color: white;
    padding: 40px;
}

.footer-columns {
    display: flex;
    justify-content: space-around;
}
